body {
   font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
   padding: 1rem;
   background: #181A1B;
   color: #DDDDDD;
}

table {
   border-collapse: collapse;
   margin: 2rem 0 1rem;
   width: 100%;
   max-width: 1000px;
}

caption {
   font-weight: 600;
   text-align: left;
   margin-bottom: .25rem;
}

th {
   background: #F7931C;
   text-align: left;
}

th, td {
   border: 1px solid #ddd;
   padding: .5rem .75rem;
}

tr:nth-child(odd) {
   background: #1D2021;
}

a {
   color: #14C0F1;
}
